@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 0;
}

body {
  font-family: JetBrains Mono, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow: hidden;
  margin: 0;
  /*margin-top: 60px;*/
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#inputs {
  padding-top: 35px;
}

.action-bar {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  /* max-width: 380px; */
}

.actions {
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.socials {
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  left: 100px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.help {
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  left: 180px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.producthunt {
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  left: 260px;
  display: flex;
  flex-direction: column;
  max-width: 380px;  
}

.close-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 12px;
  top: 8px;
  opacity: 0.4;
  transition: all 0.1s ease;
}

.close-btn:after {
  pointer-events: none;
  content: "";
  width: 16px;
  height: 3px;
  background: white;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.content-block {
  cursor: default;
  padding: 10px;
  margin-bottom: 8px;
  /*color: white;*/
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.action-buttons {
  display: flex;
}

.hide {
  display: none;
}

.input-label {
  width: 150px;
  display: inline-block;
  text-align: left;
}

.input {
  width: 150px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider-input-label {
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
  font-size: 14px;
  margin: 0 0 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-input {
  display: inline-block;
  float: left;
  width: 100px;
}

.slider-input {
  width: 100px
}

.range {
  align-items: end;
}

#fontColorInput {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

#fontColorInput::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}

#fontColorInput::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

#backgroundColorInput {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

#backgroundColorInput::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}

#backgroundColorInput::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}
